/* 1. Reseteo universal del modelo de caja*/
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Prohibido hacer scroll horizontal de forma natural */
html, body {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}