<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión - PATOS</title>
    <link rel="icon" href="/static/img/favicon.png" type="image/x-icon"> <!--icono de la página-->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Syncopate:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body class="auth-body">

    <header class="header__bar" style="justify-content: center;">
        <a href="/">
            <img src="/static/img/logo.png" alt="Logo PATOS" class="header__logo">
        </a>
    </header>

    <main class="auth-page">
        <div class="auth-box">
            <div class="auth-box__header">
                <a href="/registro" class="auth-box__link--switch">¿No tienes cuenta? Regístrate</a>
            </div>
            <form action="/procesar-login" method="POST" class="auth-form auth-form--active">
                <h1 class="auth-box__title">¡Hola de nuevo!</h1>
                <p class="auth-box__subtitle">Accede para ver tus pedidos y favoritos.</p>

                <div class="auth-form__group">
                    <label class="auth-form__label">Correo electrónico</label>
                    <input type="email" name="email" class="auth-form__input" required>
                </div>
                <div class="auth-form__group">
                    <label class="auth-form__label">Contraseña</label>
                    <input type="password" name="password" class="auth-form__input" required>
                </div>
                <button type="submit" class="auth-form__btn">Entrar a mi cuenta</button>
            </form>
        </div>
    </main>

</body>
</html>