@use '../abstracts/variables' as *;

.category {
    @media (max-width: 900px) {
        flex-direction: column;
        gap: 40px;
        padding: 40px 20px;
    }
    /*quitamos márgenes laterales para ganar espacio */
    @media (max-width: 400px) {
        padding: 20px 10px; 
    }
    display: flex;
    width: 100%;
    padding: 80px 40px;
    gap: 50px;
    background-color: $color-fondo;
    align-items: stretch;
    box-sizing: border-box;

    /* Quitamos el subrayado por defecto de los links azules */
    .category__link {
    text-decoration: none;
    color: inherit; /* Hereda el gris o naranja del category__item */
    display: block; /* Hace que toda el área sea "clickeable", no solo las letras */
    }

    @media (max-width: 900px) {
        flex-direction: column;
        gap: 40px;
        padding: 40px 20px;
    }

    &--man {
        .category__content { 
            margin-left: 70px; 
            @media (max-width: 900px) { margin-left: 0; } /* En móvil no necesitamos ese margen izquierdo gigante */
        }
    }

    &__image {
        flex: 1;
        position: relative;
        margin: 0;

        @media (max-width: 900px) {
            width: 100%;
            height: 500px;
        }
        @media (max-width: 600px) {
            height: 300px; /* La foto un poco más bajita en móviles pequeños */
        }
    }

    &__img {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        object-fit: contain;
        object-position: center;
        border-radius: 4px;
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        @media (max-width: 900px) { width: 100%; }
    }

    &__title {
        font-family: 'Playfair Display';
        font-size: 3.5rem;
        color: $color-primario;
        margin-bottom: 40px;
        font-weight: normal;
        overflow-wrap: break-word; /* Permite que el texto se divida en varias líneas si es necesario */

        @media (max-width: 600px) {
            font-size: 2.5rem; 
            margin-bottom: 20px;
        }
        @media (max-width: 380px) { 
            font-size: 1.8rem; /* Letra más pequeña para el móvil mini */
        }
    }

    &__columns {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        list-style-type: none;
        padding: 0; margin: 0;

        @media (max-width: 900px) { grid-template-columns: repeat(2, 1fr); }
        @media (max-width: 600px) { grid-template-columns: 1fr; gap: 30px; }
    }

    &__column-title {
        color: $color-primario;
        font-size: 1em;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-family: $fuente-principal;
        letter-spacing: 1px;
        overflow-wrap: break-word;
    }

    &__list {
        list-style-type: none;
        padding: 0; margin: 0;
    }

    &__item {
        font-size: 0.875em;
        color: #555555;
        margin-bottom: 12px;
        cursor: pointer;
        transition: color 0.2s;
        overflow-wrap: break-word;

        &:hover {
            color: $color-primario;
            text-decoration: underline;
        }
    }
}