<!DOCTYPE html>
<html lang="es" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PATOS - Tienda Oficial</title>

    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon"> <!--icono de la página-->
    <!--importar fuentes tipográficas (letras) de Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--Decarga de las fuentes: "Playfair Display" & "Syncopate"-->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Syncopate:wght@700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- Incluir css mediante hoja de estilo -->
</head>

<body>

    <header>
        <div class="header__bar">
            
            <div class="header__logo-box">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo de la marca" class="header__logo">
            </div>

            <div class="header__left-section">
                <a href="#" class="header__app-btn">DESCARGAR APP</a>
                <span class="header__brand">LAN</span>
            </div>

            <div class="header__search">
                <input type="text" placeholder="Buscar articulos..." class="header__search-input">
            </div>

            <div class="header__icons">
                <img src="{{ url_for('static', filename='img/perfil.png') }}" alt="Perfil" class="header__icon header__icon--profile">
                <img src="{{ url_for('static', filename='img/favoritos.png') }}" alt="Favoritos" class="header__icon header__icon--favorites">
                <img src="{{ url_for('static', filename='img/cesta.png') }}" alt="Cesta" class="header__icon header__icon--cart">
            </div>

        </div>
    </header>

    <section class="hero">
        
        <div class="hero__images">
            <img src="{{ url_for('static', filename='img/modelo1.png') }}" alt="Modelo 1" fetchpriority="high" class="hero__image">
            <img src="{{ url_for('static', filename='img/modelo2.png') }}" alt="Modelo 2" fetchpriority="high" class="hero__image">
            <img src="{{ url_for('static', filename='img/modelo3.png') }}" alt="Modelo 3" fetchpriority="high" class="hero__image">
        </div>

        <div class="hero__content">
    <h1 class="hero__title">
        <span class="hero__text hero__text--pastel">AQUÍ TENEMOS ROPA</span><br> <!-- usamos span para que haya solo un h1 -->
        <span class="hero__text hero__text--orange">PA TOS</span>
    </h1>
</div>

    </section>

<section class="benefits">
        <div class="benefits__item benefits__item--odd">
            <p>¿Acabas de llegar? Aprovecha tu descuento de bienvenida.</p>
        </div>
        <div class="benefits__item benefits__item--even">
            <p>Descarga nuestra app para hacerte con descuentos exclusivos y enterarte de las novedades.</p>
        </div>
        <div class="benefits__item benefits__item--odd">
            <p>¡Disfruta de envíos express sin límites durante un año con PA TOS flash por solo 19,99€!</p>
        </div>
        <div class="benefits__item benefits__item--even">
            <p>Devoluciones rápidas y sencillas</p>
        </div>
    </section>

<section class="category">
        
    <figure class="category__image">
        <img src="{{ url_for('static', filename='img/foto_mujer.png') }}" alt="Categoría Mujer" class="category__img">
    </figure>

    <div class="category__content">
        <h2 class="category__title">Categoría Mujer</h2>
        
        <ul class="category__columns">
            
            <li class="category__column">
                <h3 class="category__column-title">NIÑA</h3>
                <ul class="category__list">
                    <li class="category__item">Abrigos</li><li class="category__item">Chaquetas</li><li class="category__item">Camisas</li><li class="category__item">Pantalones</li><li class="category__item">Deporte</li><li class="category__item">Trajes</li><li class="category__item">Accesorios</li><li class="category__item">Vaqueros</li><li class="category__item">Bisutería</li><li class="category__item">Vestidos</li><li class="category__item">Blusas</li><li class="category__item">Faldas</li><li class="category__item">Tops</li><li class="category__item">Zapatos</li><li class="category__item">Fiesta</li>
                </ul>
            </li>

            <li class="category__column">
                <h3 class="category__column-title">JUVENIL</h3>
                <ul class="category__list">
                    <li class="category__item">Abrigos</li><li class="category__item">Chaquetas</li><li class="category__item">Camisas</li><li class="category__item">Pantalones</li><li class="category__item">Deporte</li><li class="category__item">Trajes</li><li class="category__item">Accesorios</li><li class="category__item">Vaqueros</li><li class="category__item">Bisutería</li><li class="category__item">Vestidos</li><li class="category__item">Blusas</li><li class="category__item">Faldas</li><li class="category__item">Tops</li><li class="category__item">Zapatos</li><li class="category__item">Fiesta</li>
                </ul>
            </li>

            <li class="category__column">
                <h3 class="category__column-title">ADULTA</h3>
                <ul class="category__list">
                    <li class="category__item">Abrigos</li><li class="category__item">Chaquetas</li><li class="category__item">Camisas</li><li class="category__item">Pantalones</li><li class="category__item">Deporte</li><li class="category__item">Trajes</li><li class="category__item">Accesorios</li><li class="category__item">Vaqueros</li><li class="category__item">Bisutería</li><li class="category__item">Vestidos</li><li class="category__item">Blusas</li><li class="category__item">Faldas</li><li class="category__item">Tops</li><li class="category__item">Zapatos</li><li class="category__item">Fiesta</li>
                </ul>
            </li>

            <li class="category__column">
                <h3 class="category__column-title">MISS</h3>
                <ul class="category__list">
                    <li class="category__item">Abrigos</li><li class="category__item">Chaquetas</li><li class="category__item">Camisas</li><li class="category__item">Pantalones</li><li class="category__item">Deporte</li><li class="category__item">Trajes</li><li class="category__item">Accesorios</li><li class="category__item">Vaqueros</li><li class="category__item">Bisutería</li><li class="category__item">Vestidos</li><li class="category__item">Blusas</li><li class="category__item">Faldas</li><li class="category__item">Tops</li><li class="category__item">Zapatos</li><li class="category__item">Fiesta</li>
                </ul>
            </li>
            
        </ul>
    </div>

</section>

    <section class="category category--man">
        
        <div class="category__content">
            <h2 class="category__title">Categoría Hombre</h2>
            
            <ul class="category__columns">
                <li class="category__column">
                    <h3 class="category__column-title">NIÑO</h3>
                    <ul class="category__list">
                        <li class="category__item">Accesorios</li><li class="category__item">Chaquetas</li><li class="category__item">Abrigos</li><li class="category__item">Cazadoras</li><li class="category__item">Pantalones</li><li class="category__item">Deporte</li><li class="category__item">Bolsos</li><li class="category__item">Trajes</li><li class="category__item">Vaqueros</li><li class="category__item">Camisas</li><li class="category__item">Jerseys</li><li class="category__item">Cárdigan</li><li class="category__item">Polos</li><li class="category__item">Zapatos</li><li class="category__item">Fiesta</li>
                    </ul>
                </li>

                <li class="category__column">
                    <h3 class="category__column-title">JUVENIL</h3>
                    <ul class="category__list">
                        <li class="category__item">Accesorios</li><li class="category__item">Chaquetas</li><li class="category__item">Abrigos</li><li class="category__item">Cazadoras</li><li class="category__item">Pantalones</li><li class="category__item">Deporte</li><li class="category__item">Bolsos</li><li class="category__item">Trajes</li><li class="category__item">Vaqueros</li><li class="category__item">Camisas</li><li class="category__item">Jerseys</li><li class="category__item">Cárdigan</li><li class="category__item">Polos</li><li class="category__item">Zapatos</li><li class="category__item">Fiesta</li>
                    </ul>
                </li>

                <li class="category__column">
                    <h3 class="category__column-title">ADULTO</h3>
                    <ul class="category__list">
                        <li class="category__item">Accesorios</li><li class="category__item">Chaquetas</li><li class="category__item">Abrigos</li><li class="category__item">Cazadoras</li><li class="category__item">Pantalones</li><li class="category__item">Deporte</li><li class="category__item">Bolsos</li><li class="category__item">Trajes</li><li class="category__item">Vaqueros</li><li class="category__item">Camisas</li><li class="category__item">Jerseys</li><li class="category__item">Cárdigan</li><li class="category__item">Polos</li><li class="category__item">Zapatos</li><li class="category__item">Fiesta</li>
                    </ul>
                </li>

                <li class="category__column">
                    <h3 class="category__column-title">MISTER</h3>
                    <ul class="category__list">
                        <li class="category__item">Accesorios</li><li class="category__item">Chaquetas</li><li class="category__item">Abrigos</li><li class="category__item">Cazadoras</li><li class="category__item">Pantalones</li><li class="category__item">Deporte</li><li class="category__item">Bolsos</li><li class="category__item">Trajes</li><li class="category__item">Vaqueros</li><li class="category__item">Camisas</li><li class="category__item">Jerseys</li><li class="category__item">Cárdigan</li><li class="category__item">Polos</li><li class="category__item">Zapatos</li><li class="category__item">Fiesta</li>
                    </ul>
                </li>
            </ul>            
        </div>

        <figure class="category__image">
            <img src="{{ url_for('static', filename='img/foto_hombre.png') }}" alt="Categoría Hombre" class="category__img">
        </figure>

    </section>

    <footer>
        <div class="footer__content">
            <h2 class="footer__title">Más información. Hablemos.</h2>
            <address class="footer__address">
                <p class="footer__text">Contáctenos para comentarios, consultas y colaboraciones.</p>
                <a href="mailto:#" class="footer__link">Email</a>
            </address>
        </div>
    </footer>

</body>
</html>

